@model VotingViewModel;
<h2>Votação DbLunch</h2>
<div class="input-group my-4">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" id="prev" type="button">Prev</button>
    </div>
    <input type="text" class="form-control text-center datepicker" id="week" placeholder="" aria-label="" aria-describedby="basic-addon1">

    <div class="input-group-prepend">
        <button class=" btn btn-outline-secondary" id="next" type="button">Next</button>
    </div>
</div>
@if (!Model.AcceptsVotes)
{
    <div class="alert alert-danger" role="alert">
        Votação Encerrada. Prazo para votos expirado ou todos os funcionários registraram votos.
    </div>
    @if (Model.TotalVotes > 0)
    {
        <div class="alert alert-success" role="alert">
            Restaurante Escolhido: <b>@(Model.ChosenRestaurant.Restaurant.Name)!</b>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Nenhum voto computado no dia, nenhum restaurante foi escolhido.
        </div>
    }
    <h4 class="mb-4">Resultado:</h4>
}
else
{
    <h4 class="mb-4">Vote no seu restaurante preferido para o dia:</h4>
}
<form action="#" id="voting-form">
    <fieldset @(Model.AcceptsVotes ? "" : "disabled")>
        <input type="hidden" name="voteDate" id="voteDate" value="@(Model.Date.Year)-@(Model.Date.Month.ToString().PadLeft(2, '0'))-@(Model.Date.Day.ToString().PadLeft(2,'0'))" />
        @foreach (var result in Model.OrderedRestaurantResults)
        {
            <div class="form-group d-flex justify-content-between align-items-center">
                <input type="radio" name="restaurant_id" id="@result.Restaurant.Id" value="@result.Restaurant.Id" @(result.IsAvaliable ? "" : "disabled") />
                <label for="@result.Restaurant.Id" class="row mx-0 flex-grow-1 align-items-center">
                    <span class="col-6 col-md-4">@result.Restaurant.Name</span>
                    <div class="progress px-0 col-6 col-md-8 bg-white justify-content-end">
                        <div class="progress-bar" style="width:@(Model.TotalVotes == 0 ? 0 : result.Votes / (double)Model.TotalVotes *100)%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">@(result.Votes) @(result.Votes ==1? "Voto": "Votos")</div>
                    </div>
                </label>
            </div>
        }
        <div class="invalid-feedback" id="invalid-restaurant_id">Selecione um restaurante.</div>

        <div class="row justify-content-between align-items-center">
            <div class="form-group col-8 col-md-6">
                <label for="voter">Funcionário:</label>
                <select id="voter" name="voter_id" class="form-control">
                    <option value="" selected disabled>Selecione...</option>
                    @foreach (var worker in Model.Voters)
                    {
                        <option value="@(worker.Id)">@(worker.name)</option>
                    }
                </select>
                <div class="invalid-feedback show" id="invalid-voter_id">Selecione um funcionário.</div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Votar</button>
            </div>

        </div>
        <p>Total: <span id="total-votes">@(Model.TotalVotes)</span> @(Model.TotalVotes == 1 ? "voto":"votos").</p>

    </fieldset>
</form>
<partial name="../shared/_modalerror.cshtml" />
